{% extends "base.html" %}

{% block title %}敏煌的網站{% endblock %}

{% block headmessage %}
<h2>新竹市所有超過5台可用自行車的站台列表</h2>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col">
      <table class="table talbe-striped table-hover">
        <tr><td>站名</td><td>可用的台數</td><td>全部的台數</td></tr>
      {% for item in data %}
        <tr>
          <td>{{ item.sna }}</td><td>{{ item.sbi }}</td><td>{{ item.tot }} </td>
        </tr>         
      {% endfor %}
    </table>
    </div>
    <div class="col-2">

    </div>
</div>
{% endblock %}